.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul.filter {
  /* background: var(--charcoal); */
  margin: 24px 0;
}

a.filter-tags {
  text-decoration: none;
  margin-left: 12px;
  font-size: 1rem;
}

.tag-count {
  color: var(--dust);
  vertical-align: super;
}

.filter-header {
  margin: 24px 0 12px 12px;
  font-size: 1rem;
  color: var(--dust);
}

.isHighlighted-true {
  color: var(--teal) !important;
}

.slideup,
.slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.6s ease-in-out;
  -moz-transition: max-height 0.6s ease-in-out;
  -ms-transition: max-height 0.6s ease-in-out;
  -o-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
}
.slidedown {
  max-height: 610px;
}

/* .filter-svg {
  margin: 0 0 0 24px;
  fill: var(--dust);
} */

#filterSVG {
  height: 10px;
  width: 10px;
}

.filter-tab {
  font-size: 1.6em;
  color: var(--charcoal-70);
  /* margin-bottom: 3%; */
}

/* unvisited link */
a[href].filter-tags,
a[href].filter-tags:visited,
a[href].filter-tags:active {
  color: var(--charcoal-70);
}

a[href].filter-tags:hover {
  color: var(--teal);
}

.filter-id {
  animation: fadeIn 0.8s ease-out;
}

.filter-id a {
  border: 1px solid var(--teal-70);
  padding: 3px 12px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 0.7rem;
  color: var(--teal-70);
}

.filter-id a:hover {
  border: 1px solid var(--dust);
  color: var(--dust);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.filter-id a svg {
  fill: var(--teal-70);
  width: 10px;
  height: 10px;
  margin-left: 12px;
  /* -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; */
}

.filter-id a:hover svg {
  fill: var(--dust);
}

.rotate {
  transform: rotate(180deg);
  transform-origin: center;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

/* .rotate-rev {
  transform: rotate(-180deg);
} */
