footer {
    max-width: 1200px;
    margin: 0 3%;
    color: var(--dust);
    font-size: 0.83rem;
}

div.social-flex-footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

div.social-flex-footer ul > li {
    width: calc(100%/3);
    border: 1px solid var(--dust);
}

div.social-flex-footer ul > li:first-child {
    border-right: none;
}

div.social-flex-footer ul > li:last-child {
    border-left: none;
}

