@import url("./reset.css");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|PT+Sans:700|Playfair+Display&display=swap");
@import url("./nav.css");
@import url("./sidebar.css");
@import url("./social.css");
@import url("./about.css");
@import url("./portfolio.css");
@import url("./footer.css");

:root {
  --dust: rgba(163, 165, 167, 1); /*#a3a5a7*/
  --charcoal: rgba(28, 33, 39, 1); /*#1C2127*/
  --charcoal-70: rgba(28, 33, 39, 0.7); /*#1C2127*/
  --liquid-white: rgba(248, 249, 251, 1); /*F8F9FB*/
  --teal: rgba(22, 177, 181, 1); /*#16B1B5*/
  --teal-30: rgba(22, 177, 181, 0.3); /*#16B1B5*/
  --teal-50: rgba(22, 177, 181, 0.5); /*#16B1B5*/
  --teal-70: rgba(22, 177, 181, 0.7); /*#16B1B5*/
  --font-logo: "Playfair Display", serif;
  --font-family-serif: "Crimson Text", serif;
  --font-family-sans-serif: "PT Sans", sans-serif;
}

body {
  background-color: var(--liquid-white);
  font-family: var(--font-family-serif);
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* body.hidden {  <---- why was this put in place 11/09
  overflow: hidden;
} */

/* Fonts */

.main-wrapper {
  /* position: relative; */
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h4,
h5,
h6,
li {
  font-family: var(--font-family-sans-serif);
}

h1 {
  font-size: 1.89rem;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 1.6em;
  color: var(--charcoal-70);
}

/* General Spacing -- Reference Scheme: 2px 4px 6px 12px 24px 48px 96px 192px */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.m-auto {
  margin: 0 auto;
}

.absolute-m-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-12p {
  margin-bottom: 12%;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-96 {
  margin-bottom: 96px;
}

.mh-6 {
  margin: 0 6px;
}

.mr-24 {
  margin-right: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-96 {
  margin-top: 96px;
}

.mt-192 {
  margin-top: 192px;
}

.mv-6 {
  margin: 6px 0;
}

.mv-24 {
  margin: 24px 0;
}

.p-3p {
  padding: 3%;
}

.p-6 {
  padding: 6px;
}

.p-24 {
  padding: 24px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pv-3p {
  padding: 3% 0;
}

.pt-24 {
  padding-top: 24px;
}

/* Flex-Box */

.flex-300 {
  max-width: 1200px;
  flex-wrap: wrap;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-300 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
