@import url("./reset.css");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:700|Playfair+Display");
@import url("./footer.css");

:root {
    --dust: #afafaf;
    --charcoal: #333;
    --shadow: #999;
    --liquid-white: #fcfcfc;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-serif: 'Playfair Display', serif;
    --font-family-sans-serif: 'PT Sans', sans-serif;
}

body {
    background-color: var(--liquid-white);
    font-family: var(--font-family-serif);
    font-size: 12px; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-sans-serif);
}

h2 {
    font-size: 24px;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin: 0 auto;
}

.p-3 {
    padding: 3%;
}

.hamburger {
    font-size: 2rem;
}

.project-image {
    width: 100%;
}

svg {
    fill: var(--dust);
    width: 12px;
    height: 12px;
}