dl.skills-bubble-diagram {
  text-align: center;
  color: var(--charcoal);
}

dl.skills-bubble-diagram > dd {
  display: none;
}

dl.skills-bubble-diagram dt {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}

/* Hard Skills */

dl.skills-bubble-diagram dt.hard-skill-3 {
  vertical-align: top;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 0.7rem;
  background-color: var(--teal-30);
}

dl.skills-bubble-diagram dt.hard-skill-3-alt {
  vertical-align: top;
  width: 5rem;
  height: 3rem;
  line-height: 0.5rem;
  padding-top: 2rem;
  font-size: 0.7rem;
  background-color: var(--teal-30);
}

dl.skills-bubble-diagram dt.hard-skill-4 {
  vertical-align: bottom;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  font-size: 0.9rem;
  background-color: var(--teal-50);
}

dl.skills-bubble-diagram dt.hard-skill-5 {
  width: 9rem;
  height: 9rem;
  line-height: 9rem;
  font-size: 1.1rem;
  background-color: var(--teal-70);
}

dl.skills-bubble-diagram dt:hover {
  background-color: transparent;
  border: 1px solid var(--teal-70);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
